@model GruppoStoricoApp.Models.PartecipazioneEvento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crea</h1>

<h4>Partecipazione @ViewData["Evento"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventoID" class="control-label"></label>
                <select asp-for="EventoID" class="form-control" asp-items="ViewBag.EventoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Persona" class="control-label"></label>
                <select asp-for="PersonaId" class="form-control" asp-items="ViewBag.PersonaID" asp-action="Index">
                    <option value="">-- Seleziona Persona --</option>
                </select>
                <span asp-validation-for="PersonaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calzamaglia" class="control-label"></label>
                <select asp-for="CalzamagliaId" class="form-control" asp-items="ViewBag.CalzamagliaID">
                    <option value="">-- Seleziona Calzamaglia --</option>
                </select>
                <span asp-validation-for="CalzamagliaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camicia" class="control-label"></label>
                <select asp-for="CamiciaId" class="form-control" asp-items="ViewBag.CamiciaID">
                    <option value="">-- Seleziona Camicia --</option>
                </select>
                <span asp-validation-for="CamiciaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cintura" class="control-label"></label>
                <select asp-for="CinturaId" class="form-control" asp-items="ViewBag.CinturaID">
                    <option value="">-- Seleziona Cintura --</option>
                </select>
                <span asp-validation-for="CinturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vestito" class="control-label"></label>
                <select asp-for="VestitoId" class="form-control" asp-items="ViewBag.VestitoID">
                    <option value="">-- Seleziona Vestito --</option>
                </select>
                <span asp-validation-for="VestitoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stivale" class="control-label"></label>
                <select asp-for="StivaleId" class="form-control" asp-items="ViewBag.StivaleID">
                    <option value="">-- Seleziona Stivale --</option>
                </select>
                <span asp-validation-for="StivaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-eventoId="@ViewData["EventoIdValue"]">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
